
.cityInfo {
    display: inline-grid;
    float: left;
    padding: 0 15px;
    position:relative;
    border-right: 1px solid #cccccc7a;
  }
  
  .cityInfo img {
    position: absolute;
    top: -5px;
    right: 10px;
  }
  
  .cityInfo h1 {
    margin-bottom: 0;
  }
  
  .cityInfo small {
    font-style: italic;
    color: lightslategray;
    font-size: 2vh
  }
  
  .classesForCityInfo {
    display: inline-block;
    padding:0!important;
    box-shadow: none!important;
    background: 
  }

  .MuiRadio-colorSecondary-144.MuiRadio-checked-141{
    color:#ff0000!important
  }